@page "/pomodoro"

<PageTitle>Pomodoro</PageTitle>

<h1>Pomodoro</h1>

<p role="status" id="minutesLeft">Time Left: @MinutesLeft : @SecondsLeft</p>

<button id="startTimer" class="btn btn-primary" @onclick="StartTimer">Start Timer</button>


